.carrusel{
	width: 100%;
	min-height: 100%;
	background-color: black;
	margin-top: -40px;
	margin-bottom: 20px;
}
.carrusel img{
	width: 100%;
	height: 100%;
}
.pequenio{
	padding: 5px !important;	
}
.contenido{
	line-height: normal !important;
	font-size: 10px !important;
	margin-top: -10px !important;
}
.menos-margen{
	margin-top: -10px !important;
}
.cien{
	width: 100px;
	height: 30px; 
	background-color: red;
}
.margenes{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.boton{
	width:150px;
	height:150px;
	margin:20px
}
.logo1{
	width: 100%;
	height: 100%;
	/* background-color: red: */
}
.logo1 .cont1{
	margin: 0 auto;
	width: 25%;
	/* background-color: red; */
	margin-top: 0px;
}
.logo1 img{
	width: 100%;
}

/*ESTILOS LISTA*/
.cont-lista{
	width: 100%;
	background-color: white;
	float: left;
	height: 120px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	padding: 10px;
}

.cont-lista .foto{
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin-left: 10px;
	margin-right: -5px;
}
.cont-lista .foto img{
	height: 100%;
}
.cont-lista .contenido1{
	width: auto;
	height: 100%;
	/*background-color: blue;*/
	float: left;
	/*padding: 5px;*/
	line-height: normal;
}
.cont-lista .contenido1 .titulo{
	font-size: 15px;
	line-height: normal;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: 5px;
}
.cont-lista .ubicacion{
	min-width: 20px;
	height: 100%;
	/*background-color: orange;*/
	float: left;
	font-size: 20px; 
	text-align: center;
	margin-top: 5px;
	/*padding: 5px;*/
}

/*ESTILOS ESTABLECIMIENTO*/
.foto-establecimiento{
	width: 100%;
	max-height: 400px;
	margin-top: -30px;
	overflow: hidden;
}
.descripcion-establecimiento{
	width: 100%;
	height: 100px;
	/*background-color: #F5F5F5;*/
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.descripcion-establecimiento .contenedor{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	/*background-color: black;*/
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	text-align: center
} 
.descripcion-establecimiento .contenedor small{
	font-size: 15px;
	margin-top: -40px;
	margin-left: 13px;
}
.contenedor-boton-catalogo{
	width: 50%;
	margin: 0 auto;
}


/*SLIDER*/

.logo-slider{
	width: 100%;
	height: 100px;
	/*background-color: red;*/
	margin-top: 15%;
	position: absolute;
	z-index: 2 !important;
}
.logo-slider .imagen{   
	width: 30%;
	height: 100%;
	/*background-color: black;*/
	margin:0 auto;
}

@media(max-width: 1800px){
	.contenido{
		font-size: 13px !important;
	}
}
@media(max-width: 768px) {
	.logo .cont {
		width: 40%;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}
@media(max-width: 767px){
	.tercero{
		width: 33.3333% !important;
	}
	.contenido{
		font-size: 13px !important;
	}
	.cont-lista{
		/*width: 450px;*/
	}
	.margen{
		/*margin-left: -10%;*/
	}
	.logo-slider .imagen{   
		width: 100%;
		height: 100%;
	}
	.logo-slider .imagen{   
		width: 50%;
	}
}
@media(max-width: 766px) {
	.logo1 .cont1 {
		width: 30%;
		margin-top: 0px;
		margin-bottom: 20px;
	}
}


@media(max-width: 550px){
	.contenido{
		font-size: 12px !important;
	}
	.imagen_bp{
		height: 100px !important;
	}
	.imagen_bp img{
		height: 100%;
	}
	.margen{
		margin-left: -40px;
	}
	.logo-slider .imagen{   
		width: 50%;
	}
}
@media(max-width: 900px){
	.margen{
		
	}
	.fotito{
		width: 200px !important;
		background-color: red;
		height: 100%;
	}
}
@media(max-width: 450px){
	.logo1 .cont1 {
		width: 50%;
		margin-top: -20px;
		margin-bottom: 20px;
	}
	.margen{
		margin-left: -30px;
	}
	.descripcion-establecimiento .contenedor{
		font-size: 20px;
		line-height: normal;
		/*font-weight: 400;*/
	}
	.contenedor-boton-catalogo{
		width: 100%;
		margin: 0 auto;
	}
	.logo-slider .imagen{   
		width: 100%;
		height: 100%;
	}
	.boton{
		height: 80px;
		width: 80px;
	}
	.boton img{
		width: 30px;
	}
}

@media(max-width: 400px){
	.todo{
		width: 100% !important;
	}
	.cont-lista .contenido1 .titulo{
		font-size: 14px;
	}
	.cont-lista .contenido1 .titulo span{
		font-size: 13px;
	}
	.margen{
		margin-left: 5px;
	}

}
@media(max-width: 375px) {
	.logo1 .cont1 {
		width: 70%;
		margin-top: -20px;
		margin-bottom: 20px;
	}
}
@media(max-width: 350px){
	.tercero{
		width: 50% !important;
	}
	.cont-lista .contenido1{
		font-size: 12px !important;
	}
	.margen{
		margin-left: inherit;
	}
}

/* BIENVENIDA */
.texto-bienvenido{
	margin-top: 150px;
	z-index:1000 !important;
	/* margin: 0 auto; */
	position: absolute;
	color: white;
	/* background-color: red; */
	/* height: 100px; */
	width: 100%;
}
.contenedor-texto-bienvenida{
	/* height: 100px; */
	width: auto;
	/* background-color: green; */
	margin: 0 auto;
	font-size: 30px;
	margin-bottom: 20px;
}

@media(max-width: 425px) {
	.texto-bienvenido{
		margin-top: 130px;
	}
	.contenedor-texto-bienvenida{
		font-size: 25px;
	}
	.btn{
		
	}
}


