@-webkit-keyframes move-arrow {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); } }

@keyframes move-arrow {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); } }

body {
  background-color: #f5f5f5; }

h1, h2, h3 {
  font-weight: 300; }

.section-heading-underline {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500; }
  .section-heading-underline:after {
    content: "";
    height: 3px;
    width: 100px;
    margin: 0.8em auto 0 auto;
    display: block;
    background: #eff0f3; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes slideInDown {
  0% {
    -moz-transform: translateY(-100%);
    visibility: visible; }
  100% {
    -moz-transform: translateY(0); } }

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 50%, 0); }
  100% {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    -o-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-50%, 0, 0); }
  100% {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate3d(50%, 0, 0); }
  100% {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

.slideInDown {
  animation-name: slideInDown; }

.fadeInUp {
  animation-name: fadeInUp; }

.fadeInLeft {
  animation-name: fadeInLeft; }

.fadeInRight {
  animation-name: fadeInRight; }

.animated {
  animation-duration: .6s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.btn.btn-raised,
.btn-group.btn-raised {
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s ease-out; }
  .btn.btn-raised:hover, .btn.btn-raised:focus, .btn.btn-raised:active,
  .btn-group.btn-raised:hover,
  .btn-group.btn-raised:focus,
  .btn-group.btn-raised:active {
    outline: none; }
  .btn.btn-raised:disabled, .btn.btn-raised.disabled,
  .btn-group.btn-raised:disabled,
  .btn-group.btn-raised.disabled {
    box-shadow: none; }
  .btn.btn-raised:hover,
  .btn-group.btn-raised:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn.btn-floating,
.btn-group.btn-floating {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s; }
  .btn.btn-floating:hover, .btn.btn-floating:focus, .btn.btn-floating:active,
  .btn-group.btn-floating:hover,
  .btn-group.btn-floating:focus,
  .btn-group.btn-floating:active {
    outline: none; }
  .btn.btn-floating:disabled, .btn.btn-floating.disabled,
  .btn-group.btn-floating:disabled,
  .btn-group.btn-floating.disabled {
    box-shadow: none; }
  .btn.btn-floating:hover,
  .btn-group.btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn.btn-raised.btn-primary:hover, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary.active,
.open > .btn.btn-raised.btn-primary.dropdown-toggle, .btn.btn-floating.btn-primary:hover, .btn.btn-floating.btn-primary:focus, .btn.btn-floating.btn-primary.focus, .btn.btn-floating.btn-primary:active, .btn.btn-floating.btn-primary.active,
.open > .btn.btn-floating.btn-primary.dropdown-toggle,
.btn-group.btn-raised.btn-primary:hover,
.btn-group.btn-raised.btn-primary:focus,
.btn-group.btn-raised.btn-primary.focus,
.btn-group.btn-raised.btn-primary:active,
.btn-group.btn-raised.btn-primary.active,
.open >
.btn-group.btn-raised.btn-primary.dropdown-toggle,
.btn-group.btn-floating.btn-primary:hover,
.btn-group.btn-floating.btn-primary:focus,
.btn-group.btn-floating.btn-primary.focus,
.btn-group.btn-floating.btn-primary:active,
.btn-group.btn-floating.btn-primary.active,
.open >
.btn-group.btn-floating.btn-primary.dropdown-toggle {
  background-color: #007d71;
  border-color: #007d71; }

.btn.btn-raised.btn-info:hover, .btn.btn-raised.btn-info:focus, .btn.btn-raised.btn-info.focus, .btn.btn-raised.btn-info:active, .btn.btn-raised.btn-info.active,
.open > .btn.btn-raised.btn-info.dropdown-toggle, .btn.btn-floating.btn-info:hover, .btn.btn-floating.btn-info:focus, .btn.btn-floating.btn-info.focus, .btn.btn-floating.btn-info:active, .btn.btn-floating.btn-info.active,
.open > .btn.btn-floating.btn-info.dropdown-toggle,
.btn-group.btn-raised.btn-info:hover,
.btn-group.btn-raised.btn-info:focus,
.btn-group.btn-raised.btn-info.focus,
.btn-group.btn-raised.btn-info:active,
.btn-group.btn-raised.btn-info.active,
.open >
.btn-group.btn-raised.btn-info.dropdown-toggle,
.btn-group.btn-floating.btn-info:hover,
.btn-group.btn-floating.btn-info:focus,
.btn-group.btn-floating.btn-info.focus,
.btn-group.btn-floating.btn-info:active,
.btn-group.btn-floating.btn-info.active,
.open >
.btn-group.btn-floating.btn-info.dropdown-toggle {
  background-color: #00a5bb;
  border-color: #00a5bb; }

.btn.btn-raised.btn-warning:hover, .btn.btn-raised.btn-warning:focus, .btn.btn-raised.btn-warning.focus, .btn.btn-raised.btn-warning:active, .btn.btn-raised.btn-warning.active,
.open > .btn.btn-raised.btn-warning.dropdown-toggle, .btn.btn-floating.btn-warning:hover, .btn.btn-floating.btn-warning:focus, .btn.btn-floating.btn-warning.focus, .btn.btn-floating.btn-warning:active, .btn.btn-floating.btn-warning.active,
.open > .btn.btn-floating.btn-warning.dropdown-toggle,
.btn-group.btn-raised.btn-warning:hover,
.btn-group.btn-raised.btn-warning:focus,
.btn-group.btn-raised.btn-warning.focus,
.btn-group.btn-raised.btn-warning:active,
.btn-group.btn-raised.btn-warning.active,
.open >
.btn-group.btn-raised.btn-warning.dropdown-toggle,
.btn-group.btn-floating.btn-warning:hover,
.btn-group.btn-floating.btn-warning:focus,
.btn-group.btn-floating.btn-warning.focus,
.btn-group.btn-floating.btn-warning:active,
.btn-group.btn-floating.btn-warning.active,
.open >
.btn-group.btn-floating.btn-warning.dropdown-toggle {
  background-color: #ffc40f;
  border-color: #ffc40f; }

.btn.btn-raised.btn-danger:hover, .btn.btn-raised.btn-danger:focus, .btn.btn-raised.btn-danger.focus, .btn.btn-raised.btn-danger:active, .btn.btn-raised.btn-danger.active,
.open > .btn.btn-raised.btn-danger.dropdown-toggle, .btn.btn-floating.btn-danger:hover, .btn.btn-floating.btn-danger:focus, .btn.btn-floating.btn-danger.focus, .btn.btn-floating.btn-danger:active, .btn.btn-floating.btn-danger.active,
.open > .btn.btn-floating.btn-danger.dropdown-toggle,
.btn-group.btn-raised.btn-danger:hover,
.btn-group.btn-raised.btn-danger:focus,
.btn-group.btn-raised.btn-danger.focus,
.btn-group.btn-raised.btn-danger:active,
.btn-group.btn-raised.btn-danger.active,
.open >
.btn-group.btn-raised.btn-danger.dropdown-toggle,
.btn-group.btn-floating.btn-danger:hover,
.btn-group.btn-floating.btn-danger:focus,
.btn-group.btn-floating.btn-danger.focus,
.btn-group.btn-floating.btn-danger:active,
.btn-group.btn-floating.btn-danger.active,
.open >
.btn-group.btn-floating.btn-danger.dropdown-toggle {
  background-color: #f32c1e;
  border-color: #f32c1e; }

.btn.btn-raised.btn-default:hover, .btn.btn-raised.btn-default:focus, .btn.btn-raised.btn-default.focus, .btn.btn-raised.btn-default:active, .btn.btn-raised.btn-default.active,
.open > .btn.btn-raised.btn-default.dropdown-toggle, .btn.btn-floating.btn-default:hover, .btn.btn-floating.btn-default:focus, .btn.btn-floating.btn-default.focus, .btn.btn-floating.btn-default:active, .btn.btn-floating.btn-default.active,
.open > .btn.btn-floating.btn-default.dropdown-toggle,
.btn-group.btn-raised.btn-default:hover,
.btn-group.btn-raised.btn-default:focus,
.btn-group.btn-raised.btn-default.focus,
.btn-group.btn-raised.btn-default:active,
.btn-group.btn-raised.btn-default.active,
.open >
.btn-group.btn-raised.btn-default.dropdown-toggle,
.btn-group.btn-floating.btn-default:hover,
.btn-group.btn-floating.btn-default:focus,
.btn-group.btn-floating.btn-default.focus,
.btn-group.btn-floating.btn-default:active,
.btn-group.btn-floating.btn-default.active,
.open >
.btn-group.btn-floating.btn-default.dropdown-toggle {
  background-color: #f2f2f2;
  border-color: #f2f2f2; }

.btn-flat {
  background: none;
  color: #373a3c;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: .25s ease-out; }
  .btn-flat:hover, .btn-flat:focus, .btn-flat:active {
    background-color: #fafafa;
    outline: none;
    box-shadow: none;
    border-color: #fafafa; }
  .btn-flat.btn-primary {
    color: #009688; }
  .btn-flat.btn-info {
    color: #00BCD4; }
  .btn-flat.btn-warning {
    color: #FFCA28; }
  .btn-flat.btn-danger {
    color: #F44336; }

.btn-w-xs {
  min-width: 80px; }

.btn-w-sm {
  min-width: 100px; }

.btn-w-md {
  min-width: 135px; }

.btn-w-lg {
  min-width: 160px; }

.ui-wave {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .ui-wave.ui-wave-overflowed {
    overflow: visible; }
  .ui-wave .ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    transform: scale(0); }
  .ui-wave.btn-flat .ink, .ui-wave.btn-default .ink {
    background: rgba(0, 0, 0, 0.2); }

.wave-animate {
  animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

.ui-input-group {
  position: relative;
  margin: 18px 0 12px; }
  .ui-input-group .form-control {
    background-color: transparent;
    box-shadow: none; }
    .ui-input-group .form-control:focus {
      border-color: #009688; }
  .ui-input-group > input,
  .ui-input-group > textarea {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #ccc; }
    .ui-input-group > input:focus,
    .ui-input-group > textarea:focus {
      outline: none; }
    .ui-input-group > input:focus ~ label,
    .ui-input-group > input:valid ~ label,
    .ui-input-group > textarea:focus ~ label,
    .ui-input-group > textarea:valid ~ label {
      top: -20px;
      left: 0;
      font-size: 12px; }
    .ui-input-group > input:valid ~ label,
    .ui-input-group > textarea:valid ~ label {
      color: #999; }
    .ui-input-group > input:focus ~ label,
    .ui-input-group > textarea:focus ~ label {
      color: #009688; }
    .ui-input-group > input:focus ~ .input-bar:before,
    .ui-input-group > input:focus ~ .input-bar:after,
    .ui-input-group > textarea:focus ~ .input-bar:before,
    .ui-input-group > textarea:focus ~ .input-bar:after {
      width: 50%; }
  .ui-input-group > label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1); }
  .ui-input-group .input-bar {
    position: relative;
    display: block;
    width: 100%; }
  .ui-input-group .input-bar:before,
  .ui-input-group .input-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #009688;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1); }
  .ui-input-group .input-bar:before {
    left: 50%; }
  .ui-input-group .input-bar:after {
    right: 50%; }

.header {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all .3s ease-in-out;
  padding: 0 2em; }
  .header .container {
    padding: 3em 15px; }
  .header .navbar {
    padding: 0; }
  .header.navbar-light {
    border: 0; }
  .header.navbar-fixed-top {
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    animation-name: slideInDown;
    color: #243333; }
    .header.navbar-fixed-top a,
    .header.navbar-fixed-top .navbar-toggler,
    .header.navbar-fixed-top .navbar-nav > li > a {
      color: #243333; }
    .header.navbar-fixed-top .navbar-nav > li > a:hover, .header.navbar-fixed-top .navbar-nav > li > a:active, .header.navbar-fixed-top .navbar-nav > li > a:focus {
      color: #243333; }
    .header.navbar-fixed-top .container {
      padding: 1em 0; }
  .header .navbar-brand {
    padding: 5px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff; }
    .header .navbar-brand:hover, .header .navbar-brand:active, .header .navbar-brand:focus {
      color: #f1f1f1; }
  .header .logo {
    margin-right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: normal;
    color: #f5f5f5;
    font-weight: 100;
    background-color: #009688;
    border-radius: 50%; }
  .header .navbar-nav {
    display: none; }
    @media (min-width: 62em) {
      .header .navbar-nav {
        display: block; } }
  .header .navbar-toggler {
    display: block;
    color: #fafafa; }
    .header .navbar-toggler:hover {
      cursor: pointer; }
    @media (min-width: 62em) {
      .header .navbar-toggler {
        display: none; } }
  .header .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9); }
    @media (min-width: 34em) {
      .header .navbar-collapse {
        background: none; } }
  @media (min-width: 34em) {
    .header .navbar-nav {
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: .1em;
      padding: 7px 0; }
      .header .navbar-nav > li {
        margin-left: 25px;
        padding: 8px 10px; }
        .header .navbar-nav > li.highlight {
          border: 2px solid #f1f1f1;
          border-radius: 2px; }
          .header .navbar-nav > li.highlight > a:hover, .header .navbar-nav > li.highlight > a:active, .header .navbar-nav > li.highlight > a:focus {
            font-weight: normal;
            color: #DCFAFC;
            border-bottom: 0; }
        .header .navbar-nav > li.active > a {
          font-weight: normal;
          color: #f1f1f1;
          background-color: transparent; }
          .header .navbar-nav > li.active > a:hover, .header .navbar-nav > li.active > a:active, .header .navbar-nav > li.active > a:focus {
            font-weight: normal;
            color: #f1f1f1;
            background-color: transparent; }
        .header .navbar-nav > li > a {
          padding: 0;
          font-weight: 300;
          color: #DCFAFC;
          transition: all .25s ease-in-out;
          border-bottom: 2px solid transparent; }
          .header .navbar-nav > li > a:hover, .header .navbar-nav > li > a:active, .header .navbar-nav > li > a:focus {
            font-weight: 300;
            color: #f1f1f1;
            background-color: transparent; } }
  .header .togger-container {
    padding: 6px 0; }

.cbp-spmenu {
  position: fixed;
  padding-top: 3rem;
  background-color: #243333;
  -webkit-box-shadow: -1px 0px 7px 0px #323232;
  -moz-box-shadow: -1px 0px 7px 0px #323232;
  box-shadow: -1px 0px 7px 0px #323232; }
  .cbp-spmenu a {
    color: #DCFAFC;
    display: block;
    font-size: .9rem;
    line-height: 1.72rem;
    text-decoration: none;
    text-align: left;
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .cbp-spmenu a:hover {
      margin-left: 0.2rem;
      opacity: 1; }

.cbp-spmenu-vertical {
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1001; }
  .cbp-spmenu-vertical a {
    padding: 0.4rem;
    padding-left: 2rem; }

.cbp-spmenu-right {
  right: -210px; }
  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px; }

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*-- Mobile Menu open & close buttons --*/
.mobile_menu_open_button {
  margin-top: 0.5rem; }

.mobile_nav_close_button {
  position: absolute;
  z-index: 100;
  right: 2rem;
  top: 2.7rem;
  border: 0; }
  .mobile_nav_close_button a {
    border: 0;
    color: white;
    font-size: 2rem !important;
    line-height: 2rem;
    opacity: 0.5 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .mobile_nav_close_button a:hover {
      opacity: 1 !important;
      margin-left: 0rem !important; }

.mobile_nav_open_button a {
  border: 0;
  color: white;
  font-size: 2rem !important;
  line-height: 2rem; }

.mobile_nav_open_button {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .mobile_nav_open_button:hover {
    opacity: 1; }

#mobile_menu_content {
  clear: both;
  box-shadow: none;
  -webkit-box-shadow: none; }

.ip-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #f1f1f1; }
  .ip-header .ip-loader {
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none; }
  .ip-header .ip-inner {
    display: block;
    margin: 0 auto; }
  .ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6; }
  .ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #ddd; }
  .ip-header .ip-loader svg path.ip-loader-circle {
    transition: stroke-dashoffset 0.2s;
    stroke: #009688; }

/* Animations */
/* Initial animation of header elements */
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  -moz-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@-moz-keyframes animInitialHeader {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    -moz-transform: translate3d(0, 800px, 0);
    -ms-transform: translate3d(0, 800px, 0);
    -o-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }

/* Header elements when loading finishes */
.loaded .ip-loader {
  opacity: 1; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@-moz-keyframes animLoadedLogo {
  to {
    -moz-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -moz-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -ms-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -o-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  -moz-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@-moz-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -moz-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -moz-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -ms-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -o-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

/* Header animation when loading finishes */
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  -moz-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@-moz-keyframes animLoadedHeader {
  to {
    -moz-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

/* Content animations */
.loaded .ip-main .main-content > .hero h2 {
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both; }

.loaded .ip-main .main-content > .hero p {
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation-delay: 0.1s; }

.loaded .ip-main .main-content > .hero .btn {
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation-delay: 0.2s; }

@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0); } }

@-moz-keyframes animLoadedContent {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 200px, 0); } }

@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0); } }

/*==========  page  ==========*/
.main-content {
  overflow: hidden; }

.hero {
  position: relative;
  border: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 200px 0 150px;
  background-color: #263237; }
  .hero .hero-inner {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -110px; }
  .hero h2 {
    font-size: 2.3rem;
    line-height: 3rem;
    margin-bottom: 32px; }
  .hero .btn-cta {
    margin: 3rem 0 0;
    letter-spacing: 0.8px;
    font-size: 14px;
    min-width: 220px;
    padding: 1em;
    color: #f5f5f5;
    color: rgba(255, 255, 255, 0.85); }
  .hero .preview-img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; }

#hero {
  background: url("../img/machu.jpg") repeat-y 0 0 fixed;
  background-size: cover; }

.features {
  padding: 80px 0 80px;
  border-bottom: 1px solid #ddd; }
  .features > header {
    padding: 0 20px;
    margin-bottom: 60px; }
  .features header h3 {
    text-transform: uppercase; }
  .features .feature-item {
    margin-bottom: 50px; }
    .features .feature-item:after {
      content: "";
      width: 100px;
      height: 3px;
      display: inline-block;
      background: #eff0f3;
      margin-top: 2em; }
    .features .feature-item .icon-container {
      margin: auto;
      height: 74px;
      width: 74px;
      line-height: 74px;
      padding: 0;
      border-radius: 50%;
      border: 3px solid #009688;
      font-size: 35px;
      color: #009688; }
      .features .feature-item .icon-container .zmdi {
        vertical-align: middle;
        margin-top: -8px; }
    .features .feature-item h3 {
      font-size: 20px;
      margin-top: .6rem;
      margin-bottom: .6rem;
      font-weight: normal;
      color: #263237;
      text-transform: uppercase; }
    .features .feature-item .desc {
      max-width: 310px;
      margin-left: auto;
      margin-right: auto;
      color: #818a91;
      font-size: 1em;
      line-height: 1.6em; }

.newsletter {
  position: relative;
  background-color: #263237;
  background: url("../images/photo-1423753623104.jpg") repeat-y 0 0 fixed;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
  .newsletter:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); }
  .newsletter h2 {
    position: relative;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #f1f1f1; }
  .newsletter p {
    margin-bottom: 40px; }
  .newsletter form {
    padding: 0 15px;
    max-width: 450px;
    margin: 0 auto; }
  .newsletter .ui-input-group > input,
  .newsletter .ui-input-group > textarea {
    border-bottom: 2px solid #ccc;
    color: #fafafa; }
  .newsletter .ui-input-group > label {
    color: #ccc; }
  .newsletter .btn {
    margin-top: 30px;
    font-size: 14px;
    min-width: 220px;
    padding: 1em;
    color: #f5f5f5;
    color: rgba(255, 255, 255, 0.85); }

.faq {
  background-color: #f5f5f5;
  padding: 7em 2em 5em; }
  .faq li {
    list-style-type: none;
    margin-bottom: 1.6em;
    padding: 1em 3em; }
    @media (min-width: 47.5em) {
      .faq li {
        width: 49%;
        display: inline-block;
        vertical-align: top; } }
  .faq h4 {
    margin-bottom: .6em;
    font-size: 21px;
    line-height: 1.6em; }
  .faq .faq-a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.6em; }

.contact {
  padding: 80px 0 80px; }
  .contact h3 {
    margin-bottom: 30px; }
  .contact .contact-info {
    margin: 50px 0 0;
    font-size: 18px; }
    .contact .contact-info .zmdi {
      margin-right: 15px; }
    .contact .contact-info li {
      margin-bottom: 15px; }
  .contact .form-horizontal {
    padding: 0 15px; }
  .contact .form-group {
    margin-bottom: 1.5em; }

.action-call {
  padding: 4em 1em;
  background-color: #009688;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  color: #fafafa; }
  .action-call .btn {
    font-size: 16px;
    margin: 1em 0 1em 15px;
    background-color: #fff;
    color: #009688; }
    .action-call .btn .zmdi {
      margin-left: 10px; }
    .action-call .btn:hover .zmdi {
      -webkit-animation: move-arrow 1000ms ease-in-out infinite;
      -moz-animation: move-arrow 1000ms ease-in-out infinite;
      animation: move-arrow 1000ms ease-in-out infinite; }

.footer {
  position: relative;
  color: #7a859e;
  position: relative;
  background-color: #263237;
  padding: 50px 0;
  font-size: 12px; }